{{ define "main" }}
<div class="d-flex flex-column align-items-center" style="margin-top: 100px">
  <div class="text-center">{{.Content }}</div>
</div>
{{ with .Site.Menus.home }} {{ range . }}
<div id="home-section-wrapper" class="my-5">
  <h2>{{ .Name }}</h2>
  <small>{{ .Params.description }}</small>
  <hr />
  <div class="row mt-3 p-2">
    {{ range .Children }}
    <div class="col-md-4">
      <a class="link-card-link" href="{{ .URL }}">
        <div class="link-card mb-3">
          <div class="link-card-header">
            <h5>{{ .Name }}</h5>
          </div>
          <div class="link-card-content">
            <p>{{ .Params.description }}</p>
          </div>
        </div>
      </a>
    </div>
    {{ end }}
  </div>
</div>
{{ end }} {{ end }} {{ end }}
