<footer class="container py-5">
  <div class="row">
    <div class="col-md-3 d-flex flex-column mb-4 mb-md-0 gap-2">
      <h5 style="color: var(--primary)">Our Mission</h5>
      <p class="mb-0">
        The Computer Science Club is focused on providing opportunities for
        students to learn about computer science and technology.
      </p>
      <small class="mb-0">&copy; {{ now.Year }}. All rights reserved.</small>
    </div>
    <div class="col-md-7 ms-auto">
      <div class="row">
        <div class="col-md-4">
          <h5 class="mb-3">Official Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none">Campus Website</a></li>
            <li><a href="#" class="text-decoration-none">Clubs</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="mb-3">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none">Events</a></li>
            <li><a href="#" class="text-decoration-none">Guides</a></li>
            <li><a href="#" class="text-decoration-none">Resources</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="mb-3">Social Media</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none">Instagram</a></li>
            <li><a href="#" class="text-decoration-none">Twitter</a></li>
            <li><a href="#" class="text-decoration-none">YouTube</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
