{{ with site.Menus.main }}

<div id="nav-border" class="container">
  <nav class="navbar navbar-expand-lg py-3">
    <a class="navbar-brand" href="/">
      <img src="{{ "/computer_science_club_oneline_black.png" | relURL }}"
      alt="computer science club logo" style="height: 50px" />
    </a>
    {{ range . }} {{ if .HasChildren }}
    <div class="nav-item dropdown">
      <a href="{{ .URL }}">
        <button
          class="btn btn-dropdown dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ .Name }}
        </button>
      </a>
      <div class="dropdown-menu">
        {{ range .Children }}
        <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
    {{ else }}
    <div class="nav-item px-2">
      <a href="{{ .URL }}">{{ .Name }}</a>
    </div>
    {{ end }} {{ end }}
    <div class="nav-item ms-auto d-flex align-items-center">
      <a href="https://github.com/RCBC-Computer-Science-Club/website">
        <i class="fab fa-github" style="font-size: 1.5rem"></i
      ></a>
    </div>
  </nav>
</div>

{{ end }}
